.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin-bottom: 10em;
  @media (max-width: 1200px) {
    transition: all 0.2s ease-in-out;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 800px) {
    transition: all 0.2s ease-in-out;
    grid-template-columns: repeat(1, 1fr);
  }
}
.title_home {
  display:flex;
  font-size: 22px;
  justify-content: center;
  color: white;
}
